In [1]:
#importing pandas and os module (os module is for filename directory reading)
import pandas as pd
import os

In [15]:
#defining the path of our sales data directory
path = './SalesAnalysis/Sales_Data'
#show all files in the directory containing sales data files and storing them in a variable
files = os.listdir(path)
#importing only the data of April ('Sales_April_2019.csv' is the first file)
df_april_sales = pd.read_csv(path+'/'+files[0])
df_april_sales

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
18378,194090,Google Phone,1,600,04/08/19 17:11,"177 Jackson St, Los Angeles, CA 90001"
18379,194091,AA Batteries (4-pack),1,3.84,04/15/19 16:02,"311 Forest St, Austin, TX 73301"
18380,194092,AAA Batteries (4-pack),2,2.99,04/28/19 14:36,"347 Sunset St, San Francisco, CA 94016"
18381,194093,AA Batteries (4-pack),1,3.84,04/14/19 15:09,"835 Lake St, Portland, OR 97035"
18382,194094,Lightning Charging Cable,1,14.95,04/18/19 11:08,"354 North St, Boston, MA 02215"

# Cleaning the Data

In [16]:
df_april_sales.loc[df_april_sales['Price Each']=='99.99']

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
7,176563,Bose SoundSport Headphones,1,99.99,04/02/19 07:46,"668 Center St, Seattle, WA 98101"
27,176582,Bose SoundSport Headphones,1,99.99,04/27/19 12:20,"178 Lincoln St, Atlanta, GA 30301"
30,176585,Bose SoundSport Headphones,1,99.99,04/07/19 11:31,"823 Highland St, Boston, MA 02215"
31,176585,Bose SoundSport Headphones,1,99.99,04/07/19 11:31,"823 Highland St, Boston, MA 02215"
...,...,...,...,...,...,...
18273,193991,Bose SoundSport Headphones,1,99.99,04/01/19 12:33,"926 West St, Atlanta, GA 30301"
18284,194001,Bose SoundSport Headphones,1,99.99,04/04/19 10:21,"1 Hill St, Los Angeles, CA 90001"
18294,194010,Bose SoundSport Headphones,1,99.99,04/23/19 22:21,"663 8th St, Boston, MA 02215"
18316,194031,Bose SoundSport Headphones,1,99.99,04/17/19 22:19,"82 Jefferson St, Austin, TX 73301"
18370,194082,Bose SoundSport Headphones,1,99.99,04/27/19 13:37,"792 7th St, Boston, MA 02215"

In [22]:
df_april_sales['Price Each'] = pd.to_numeric(df_april_sales['Price Each'],errors='coerce')

In [28]:
df_april_sales.dtypes

Order ID             object
Product              object
Quantity Ordered     object
Price Each          float64
Order Date           object
Purchase Address     object
dtype: object

In [20]:
df_april_sales.dtypes

Order ID            object
Product             object
Quantity Ordered    object
Price Each          object
Order Date          object
Purchase Address    object
dtype: object