In [1]:
#importing pandas and os module (os module is for filename directory reading)
import pandas as pd
import os

In [2]:
#defining the path of our sales data directory
path = './SalesAnalysis/Sales_Data'
#show all files in the directory containing sales data files and storing them in a variable
files = os.listdir(path)
#defining an empty dataframe which will contain the sales data of all files
all_months_data = pd.DataFrame()
#loop for concatenating each index of the list files into one single dataframe
for file in files:
    #since there may be a seperate folder in the directory
    if path + '/' + file == path + '/Sales_Data_Out_Folder':
        continue
    #the main block of the for loop
    df = pd.read_csv(path + '/' + file)
    #concatenating each file into the var all_months_data
    all_months_data = pd.concat([all_months_data,df])
#reset index
all_months_data.reset_index()

,index,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,1,NaN,NaN,NaN,NaN,NaN,NaN
2,2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
...,...,...,...,...,...,...,...
186845,11681,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
186846,11682,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
186847,11683,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
186848,11684,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
186849,11685,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

In [8]:
#This cell of code to clean the data of all 'NaN' rows
all_months_data = all_months_data.dropna()
#code to reset index for the new dataframe with no 'NaN'
all_months_data = all_months_data.reset_index()
#dropping the older index column from the individual sales data files
all_months_data =all_months_data.drop(columns=['index','level_0'])
all_months_data

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
2,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
3,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
186300,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
186301,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
186302,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
186303,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
186304,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

In [11]:
#this cell and following cell to calculate the total sale in each row (quantity*price each)
#code to get data types of each column
print(all_months_data.dtypes['Quantity Ordered'])
print(all_months_data.dtypes['Price Each'])

float64
float64

In [10]:
#converting data into numeric form default string/object type
all_months_data['Quantity Ordered'] = pd.to_numeric(all_months_data['Quantity Ordered'],errors='coerce')
all_months_data['Price Each'] = pd.to_numeric(all_months_data['Price Each'],errors='coerce')
#new column for amount of sale
all_months_data['Sale Amount in USD'] = all_months_data['Quantity Ordered']*all_months_data['Price Each']
#all_months_data.loc[all_months_data['Quantity Ordered']=='Quantity Ordered']
print(all_months_data.dtypes['Price Each'])
print(all_months_data.iloc[510:520])

float64
     Order ID                     Product  Quantity Ordered  Price Each  \
510    177048  Bose SoundSport Headphones               1.0       99.99
511    177049            Wired Headphones               1.0       11.99
512    177050    Apple Airpods Headphones               1.0      150.00
513    177051            Wired Headphones               2.0       11.99
514    177052        USB-C Charging Cable               2.0       11.95
515    177053            Wired Headphones               1.0       11.99
516    177054    Apple Airpods Headphones               1.0      150.00
517  Order ID                     Product               NaN         NaN
518    177055    Lightning Charging Cable               1.0       14.95
519    177056               Flatscreen TV               1.0      300.00

         Order Date                         Purchase Address  \
510  04/12/19 21:23      432 5th St, New York City, NY 10001
511  04/03/19 06:55  154 Dogwood St, San Francisco, CA 94016
512  04/08/19 09:53             510 Elm St, Boston, MA 02215
513  04/07/19 08:41           777 Adams St, Boston, MA 02215
514  04/02/19 09:30   532 Walnut St, San Francisco, CA 94016
515  04/24/19 20:45             5 Adams St, Boston, MA 02215
516  04/09/19 19:18        800 Jackson St, Atlanta, GA 30301
517      Order Date                         Purchase Address
518  04/09/19 12:37          59 Forest St, Atlanta, GA 30301
519  04/20/19 23:52      180 9th St, San Francisco, CA 94016

     Sale Amount in USD
510               99.99
511               11.99
512              150.00
513               23.98
514               23.90
515               11.99
516              150.00
517                 NaN
518               14.95
519              300.00

In [49]:
#define a function to extract city and state names from text address using geopy
#import geopy
from geopy.geocoders import Nominatim
#function to get city and state name from string address using geopy
def get_city_state_from_address(address_str):
    #user_agent = API key, Nominatim is the geocoding API of OSM
    locator = Nominatim(user_agent="myGeocoder")
    #the string address to be geocoded
    #geocoding the string address to get the latitude and longitude
    location = locator.geocode(address_str)
    #concatenating the lat and long into a variable
    latlong = location.raw['lat'] + ", " + location.raw['lon']
    #using the reverse method to obtain latitude and longitude
    address_re = locator.reverse(latlong, language='en').raw
    #storing the address dictionary in 'address_in' variable
    address_in = (address_re.get('address'))
    #concatenating the 'city' and 'state' into one variable
    city_state = address_in['city'] + " " + address_in['state']
    return city_state

In [43]:
#let us see the internal workings of the above function in the following two cells
locator = Nominatim(user_agent="myGeocoder")
location = locator.geocode(all_months_data['Purchase Address'][0])
#location.raw returns a dictionary containing the various feature of the geocoded address e.g. 'place_id', 'osm_id'
#including 'lat' and 'long' (print location.raw to see what the dictionary looks
print(location)
#concatenating the lat and long into a variable
latlong = location.raw['lat'] + ", " + location.raw['lon']
#reverse method takes the latlong and returns the detailed address in a format of a dictionary containing
#components like city, country etc
address_re = locator.reverse(latlong).raw
print(address_re)

917, North 1st Street, Garland, Dallas County, Texas, 75040, United States
{'place_id': 319783829, 'licence': 'Data Â© OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'way', 'osm_id': 9960026, 'lat': '32.92113670967742', 'lon': '-96.63093470967742', 'display_name': '917, North 1st Street, Garland, Dallas County, Texas, 75040, United States', 'address': {'house_number': '917', 'road': 'North 1st Street', 'city': 'Garland', 'county': 'Dallas County', 'state': 'Texas', 'ISO3166-2-lvl4': 'US-TX', 'postcode': '75040', 'country': 'United States', 'country_code': 'us'}, 'boundingbox': ['32.921086709677', '32.921186709677', '-96.630984709677', '-96.630884709677']}

In [44]:
address_re.get('address')

{'house_number': '917',
 'road': 'North 1st Street',
 'city': 'Garland',
 'county': 'Dallas County',
 'state': 'Texas',
 'ISO3166-2-lvl4': 'US-TX',
 'postcode': '75040',
 'country': 'United States',
 'country_code': 'us'}

In [50]:
#loop going over each entry in Purchase Address column and fectching city and state
for p_address in all_months_data['Purchase Address']:
    p_addresses=get_city_state_from_address(p_address)
    print(p_addresses)

Garland Texas
Boston Massachusetts
Los Angeles California
Los Angeles California

KeyError: 'city'

In [46]:
#problem seems to be 5th row of 'Purchase Address'
print(all_months_data['Purchase Address'][4])
#using the code inside get_city_state_from_address() on the 5th Purchase Address
locator = Nominatim(user_agent="myGeocoder")
address_5 = locator.geocode(all_months_data['Purchase Address'][4])
print(address_5)
latlong_5 = address_5.raw['lat'] + ", " + address_5.raw['lon']
address_re = locator.reverse(latlong_5).raw
address_re.get('address')
#problem seems to be there is no city in the address dictionary, instead there is a town

333 8th St, Los Angeles, CA 90001
333, 8th Street, Manhattan Beach, Los Angeles County, California, 90266, United States

{'house_number': '325',
 'road': '8th Street',
 'town': 'Manhattan Beach',
 'county': 'Los Angeles County',
 'state': 'California',
 'ISO3166-2-lvl4': 'US-CA',
 'postcode': '90266',
 'country': 'United States',
 'country_code': 'us'}

In [6]:
df_april_sales = pd.read_csv(path+'/'+files[0])
df_april_sales

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
18378,194090,Google Phone,1,600,04/08/19 17:11,"177 Jackson St, Los Angeles, CA 90001"
18379,194091,AA Batteries (4-pack),1,3.84,04/15/19 16:02,"311 Forest St, Austin, TX 73301"
18380,194092,AAA Batteries (4-pack),2,2.99,04/28/19 14:36,"347 Sunset St, San Francisco, CA 94016"
18381,194093,AA Batteries (4-pack),1,3.84,04/14/19 15:09,"835 Lake St, Portland, OR 97035"
18382,194094,Lightning Charging Cable,1,14.95,04/18/19 11:08,"354 North St, Boston, MA 02215"

In [11]:
pd.to_datetime('04/07/2019 22:30',format='%d/%m/%Y %H:%M')

Timestamp('2019-07-04 22:30:00')